<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page d'accueil</title>
        <link rel="stylesheet" href="../static/train/css/style_accueil.css">
    </head>
    <body>
        <header>
            <h1>Page d'accueil</h1>
            <form action="{% url 'search' %}" method="GET">
                <input type="text" name="train_id" placeholder="Rechercher par ID de train">
                <button type="submit">Rechercher</button>
            </form>
            <nav>
                <a href="{% url 'detail' %}">Voir détails du train</a>
                <a href="{% url 'random' %}">Train aléatoire</a>
            </nav>
        </header>
        <main>
            <div class="container">
                <h2>Liste des trains</h2>
                <div class="train-cards">
                    {% for train in trains %}
                        <div class="train-card">
                            <h3>{{ train.destination }}</h3>
                            <p>Heure de départ : {{ train.depart }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>