<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Train Aléatoire</title>
        <link rel="stylesheet" href="../static/train/css/style_random.css">
    </head>
    <body>
        <header>
            <h1>Train Aléatoire</h1>
            <nav>
                <a href="{% url 'accueil' %}">Retour à la page d'accueil</a>
                <a href="{% url 'detail' random_train.trainID %}">Voir détails du train</a>
            </nav>
        </header>
        <h1>Train Aléatoire</h1>
        <div>
            <img src="../static/train/img/logo/{{type}}.png" alt="Logo du train">
            <h2>Destination : {{ random_train.destination }}</h2>
            <p>Heure de départ : {{ random_train.depart }}</p>
            <img src="../static/train/img/plan/{{plan}}.png" alt="Plan du train">
        </div>
    </body>
</html>